* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(23,23,52,1) 35%, rgba(45,89,98,1) 100%);
    color: white;
}
/*header*/

header{
    display: flex;
    background-color: #468189;
    color: white;
    padding: 1rem 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.header-image-container{
    width: 10%;
    background-color: white;
}

.header-image-container img{
    width: 100%;
}

header form{
    width: 35%;
}

header form input{
    width: 45%;
}

header form input{
    width: 70%;
    padding: 1rem 2rem;
    border: none;
    border: 1px solid #468189;
    border-radius: 100vw 0 0 100vw;
    font-style: italic;

}

/*cuando se pone el cursor arriba del form*/
header form input:focus{
    border: 1px solid #3a788098;
    outline: none;
    transition: 200ms;
}

header form button{
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 0 100vw 100vw 0;
    padding: 0.5rem 1rem;
    transition: 200ms;
    font-style: italic;
    font-weight: 500;
}

header form button:hover{
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: #345559a5;
    color: white;
}
/*lista que esta en el header */
header ul{
    display: flex;
    gap: 2rem; /*espaciado entre los elementos*/
}

header ul li{
    transition: 200ms;
    font-style: italic;
}

header ul li:hover{
    transform: scale(1.2);
}


h1 {
    margin: 30px;
}

.datos-importantes {
    text-align: center;
}

h3{
    color: black;
}

#inicial {
    width: 90px;
    height: 90px;
}

/*conteneror de info personal*/
.genders-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
    gap: 2rem;
}

.gender-card{
    display: flex;
    background-color: white;
    color: black;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    transition: 2ms;
    gap: 3rem;
}

.gender-card:hover{
    background-color: rgba(0, 0, 0, 0.412);
    transform: translateY(-5px);
    color: white;
}

.info-gender-card{
    display: flex;
    gap: 2rem;
    padding:2rem;
    align-items: center;
}

.icon-gender-container{
    width: 35%;
}

.icon-gender-container img{
    width: 100%;
    border-radius: 10px;
}




.icon-gender-container{
    width: 4.5rem;
    align-self: flex-end;
}

.icon-gender-container img{
    width: 100%;
    filter: invert(100);
}


.container1 {
    display: inline-block;
    padding: 0.8rem;
}

.foto1 {
    width: 320px;
    height: 300px;
    border: 20px solid #468189;
    transition: 250ms;
    
}

.foto1:hover {
    border-radius: 20px;
    transform: scale(1.1);
}


footer{
    background-color: #468189;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.footer-logo-container{
    width: 5rem;
    background-color: white;
}

.footer-logo-container img{
    width: 100%;
}

.links-containers{
    display: flex;
    font-weight: bold;
    gap: 3.5rem;
}

.links-containers li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.logos-container{
    display: flex;
    gap: 3.5rem;
}

.logos-container li{
    width: 4rem;
    padding: 2rem;
}

.logos-container img{
    filter: invert(100);
    width: 100%;
    transition: 200ms;
}

.logos-container img:hover{
    transform: scale(1.3);
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 800px) {
    header{
        padding: 1rem;
        justify-content: center;
        gap: 1rem;
    }

    .header-image-container{
        width: 0.5rem;
    }

    header form{
        width: 60%;
    }
    
    header form input{
        width: 35%;
        padding: 0.25rem 0.5rem;
    }

    header form button{
        padding: 0.25rem 0.5rem;
    }

    header ul{
        font-size: 10px;
        gap: 1rem;
    }

    .intrument-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 1.5rem;
    }

    .big-card{
        font-size: 10px;
    }
    
    .small-card{
        font-size: 8px;
    }

    .cards-container{
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }

    .cards-container h1{
        font-size: 12px;
    }

    .cards-container p{
        font-size: 10px;
    }

    .cards-container button{
        font-size: 10px;
    }

    footer{
        font-size: 8px;
        padding: 1rem;
        gap: 0.5rem;
    }

    .footer-logo-container{
        width: 2rem;
    }

    .links-containers{
        gap: 1rem;
        justify-content: center;
    }

    .logos-container{
        gap: 1rem;
    }

    .logos-container li{
        width: 2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1100px) {
    .header-image-container{
        width: 5.5rem;
    }
    
    header form input{
        width: 60%;
    }

    .big-card{
        font-size: 14px;
    }
    
    .small-card{
        font-size: 10px;
    }

    .cards-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .cards-container h1{
        font-size: 14px;
    }

    .cards-container p{
        font-size: 12px;
    }

    .cards-container button{
        font-size: 12px;
    }

    footer{
        font-size: 10px;
        padding: 2rem;
    }

    .links-containers{
        gap: 1.5rem;
    }
}